__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/

*.db
*.sqlite
*.sqlitedb
*.db-wal
*.db-shm
*.db-journal

*.ips
*.crash

.env
.venv
venv/

.idea/
.vscode/
*.swp
*.swo

manifest*.json
