__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/

*.db
*.sqlite
*.sqlitedb
*.db-wal
*.db-shm
*.db-journal

*.ips
*.crash

.env
.venv
venv/

.idea/
.vscode/
*.swp
*.swo

.coverage
.pytest_cache/
.ruff_cache/
.mypy_cache/
htmlcov/

manifest*.json
